/*GENERAL*/
body {
	background-color: #000;
	color: #ccc;
	font-family: arial;
	font-size: 16px;

	a {
		color: #d60d81;
		text-decoration: none;
	}
	a:hover {
		color: #05ffff;
	}
}
.container {
	width: 1000px;
	margin: 0 auto;
}

/*STRUCTURE*/
#content {
	clear: both
}
	/*HEADER*/
	header {
		min-height: 65px;

		li {
			float: left;
			border-right: 1px solid #ccc;
		}

		.last {
			border: none;
		}

		nav {
			margin-top: 15px;
		}

		nav a {
			display: block;
			line-height: 30px;
			padding: 0 10px;
		}
	}
	
	header img, #main-nav {
		float: left;
	}
	#main-nav {
		margin-left: 20px
	}
	#user-menu {
		float: right
	}
	

