%div#header
	%div#logo
		%h1 Infinite Shelter
		%img{:src => "http://placehold.it/100&text=Logo", :alt => "Infinite Shelter Logo", :height => "", :width => ""}/
	%ul#main_nav
		%li 
			%a{:href => "#"}Home
		%li 
			%a{:href => "#"}Tag
		%li 
			%a{:href => "#"}Gallery
		%li 
			%a{:href => "#"}Article
		%li 
			%a{:href => "#"}Aphorism
		%li 
			%a{:href => "#"}People
		%li 
			%a{:href => "#"}City
		%li 
			%a{:href => "#"}New
	%ul#user_menu
		%li 
			%a{:href => "facebook.com"}Login
		%li
			%a{:href => "#"}Join
%div#content
	%div#main_content
		%h2 Venue Name - Venue Type - City
		%img{:src => "http://placehold.it/300&text=Venue+Image", :alt => "Venue Name", :height => "", :width => ""}/
		%p#description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		%div#map
			%canvas 
				
				
		%ul
			%li 
				%a{:href => "#"}Post Event
			%li
				%a{:href => "#"}Next Event
		%div#rating
			%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
			%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
			%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled", :checked => "checked"}/
			%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
			%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
		%div#other_venue
			%h3 Other Venue
			%ul
				%li
					%a{:href => "#"}
						%img{:src => "http://placehold.it/130x100&text=Venue+Image", :alt => "venue name", :height => "", :width => ""}/
					%div#rating
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled", :checked => "checked"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
				%li
					%a{:href => "#"}
						%img{:src => "http://placehold.it/130x100&text=Venue+Image", :alt => "venue name", :height => "", :width => ""}/
					%div#rating
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled", :checked => "checked"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
				%li
					%a{:href => "#"}
						%img{:src => "http://placehold.it/130x100&text=Venue+Image", :alt => "venue name", :height => "", :width => ""}/
					%div#rating
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled", :checked => "checked"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
				%li
					%a{:href => "#"}
						%img{:src => "http://placehold.it/130x100&text=Venue+Image", :alt => "venue name", :height => "", :width => ""}/
					%div#rating
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled", :checked => "checked"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
	%div#sidebar
		%p google ad
%div#footer
	%p Infinite Shelter 2012
	%ul
		%li
			%a{:href => "#"}Terms of Use
		%li
			%a{:href => "#"}Privacy Policy